<div>
    <div class="widget-box widget-color-blue">
        <div class="widget-header ui-sortable-handle">
            <h5 class="widget-title bigger lighter">
                <i class="ebp-icon fa fa-music"></i>
                Music File Upload
            </h5>
            <div class="widget-toolbar widget-toolbar-light no-border">

            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div>
                    <ul class="steps">
                        <ul class="steps-indicator steps-{{steps.length}}" ng-if="!hideIndicators" style="margin-bottom: 30px">
                            <li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}" ng-repeat="step in steps">
                                <a ng-click="goTo(step)">{{step.title || step.wzTitle}}</a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <hr />
                <div class="steps" ng-transclude>
                </div>
            </div>
        </div>
    </div>
</div>
