<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter red">Shapes & Sizes</h3>
                <p style="text-align: center">
                    <button class="button button-tiny" style="margin: 5px">Default</button>
                    <button class="button button-rounded button-tiny" style="margin: 5px">Default</button>
                    <button class="button button-pill button-tiny" style="margin: 5px">Default</button>
                    <button class="button button-square button-tiny" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-box button-tiny" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-circle button-tiny" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                </p>
                <p style="text-align: center">
                    <button class="button button-primary button-small" style="margin: 5px">Primary</button>
                    <button class="button button-primary button-rounded button-small" style="margin: 5px">Primary</button>
                    <button class="button button-primary button-pill button-small" style="margin: 5px">Primary</button>
                    <button class="button button-primary button-square button-small" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-primary button-box button-small" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-primary button-circle button-small" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                </p>
                <p style="text-align: center">
                    <button class="button button-action" style="margin: 5px">Action</button>
                    <button class="button button-action button-rounded" style="margin: 5px">Action</button>
                    <button class="button button-action button-pill" style="margin: 5px">Action</button>
                    <button class="button button-action button-square" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-action button-box" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-action button-circle" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                </p>
                <p style="text-align: center">
                    <button class="button button-highlight button-large" style="margin: 5px">Highlight</button>
                    <button class="button button-highlight button-large button-rounded" style="margin: 5px">Highlight</button>
                    <button class="button button-highlight button-large button-pill" style="margin: 5px">Highlight</button>
                    <button class="button button-highlight button-large button-square" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-highlight button-large button-box" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-highlight button-large button-circle" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                </p>
                <p style="text-align: center">
                    <button class="button button-caution button-jumbo" style="margin: 5px">Caution</button>
                    <button class="button button-caution button-jumbo button-rounded" style="margin: 5px">Caution</button>
                    <button class="button button-caution button-jumbo button-pill" style="margin: 5px">Caution</button>
                    <button class="button button-caution button-jumbo button-square" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-caution button-jumbo button-box" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                    <button class="button button-caution button-jumbo button-circle" style="margin: 5px">
                        <i class="ebp-icon fa fa-plus"></i>
                    </button>
                </p>
            </div>
            <hr class="space-6" style="clear: both" style="clear: both" style="clear: both" />
            <div class="col-sm-6">
                <h3 class="header smaller lighter green">With/Without borders & Long shadow</h3>
                <p>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-circle"><i class="fa fa-bitcoin"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-circle"><i class="fa fa-refresh"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-circle"><i class="fa fa-angle-left"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-circle"><i class="fa fa-angle-right"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-box"><i class="fa fa-reply"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-box"><i class="fa fa-star"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-box"><i class="fa fa-trash-o"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-box"><i class="fa fa-tag"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-box"><i class="fa fa-volume-down"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-box"><i class="fa fa-volume-up"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-square"><i class="fa fa-reply"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-square"><i class="fa fa-star"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-square"><i class="fa fa-trash-o"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-square"><i class="fa fa-tag"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-square"><i class="fa fa-volume-down"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-border button-square"><i class="fa fa-volume-up"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-borderless"><i class="fa fa-reply"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-borderless"><i class="fa fa-star"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-borderless"><i class="fa fa-trash-o"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-borderless"><i class="fa fa-tag"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-borderless"><i class="fa fa-volume-down"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-borderless"><i class="fa fa-volume-up"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-borderless"><i class="fa fa-volume-up"></i></button>
                    <button style="margin: 5px" class="button button-large button-primary button-borderless"><i class="fa fa-volume-up"></i></button>
                </p>
                <p>
                    <button class="button button-primary button-box button-giant button-longshadow-right" style="margin: 5px">
                        <i class="fa fa-twitter"></i>
                    </button>

                    <button class="button button-caution button-box button-raised button-giant button-longshadow" style="margin: 5px">
                        <i class="fa fa-google-plus"></i>
                    </button>

                    <button class="button button-action button-box button-giant button-longshadow-left" style="margin: 5px">
                        <i class="fa fa-share-alt"></i>
                    </button>

                    <button class="button button-highlight button-box button-giant button-longshadow-right button-longshadow-expand" style="margin: 5px">
                        <i class="fa fa-rss"></i>
                    </button>

                    <button class="button button-primary button-circle button-giant button-longshadow" style="margin: 5px">
                        <i class="fa fa-gear"></i>
                    </button>
                </p>
            </div>
            <div class="col-sm-6">
                <h3 class="header smaller lighter pink">3D Buttons & Raised Buttons</h3>
                <p>
                    <button class="button button-3d button-box button-jumbo" style="margin: 5px"><i class="fa fa-thumbs-up"></i></button>
                    <a href class="button button-3d button-primary button-rounded" style="margin: 5px">Check out the new site!</a>
                    <a href class="button button-3d button-action button-pill" style="margin: 5px">Visit Us!</a>
                    <button class="button button-3d button-action button-circle button-jumbo" style="margin: 5px"><i class="fa fa-thumbs-up"></i></button>
                    <a href class="button button-3d button-caution" style="margin: 5px"><i class="fa fa-camera"></i> Go</a>
                    <a href class="button button-3d button-royal" style="margin: 5px">Say Hi!</a>
                    <hr />
                    <a href class="button button-raised button-primary button-pill" style="margin: 5px">Visit Us!</a>
                    <button class="button button-raised button-action button-circle button-jumbo" style="margin: 5px"><i class="fa fa-thumbs-up"></i></button>
                    <a href class="button button-raised button-caution" style="margin: 5px"><i class="fa fa-camera"></i> Go</a>
                    <a href class="button button-raised button-royal" style="margin: 5px">Say Hi!</a>
                    <a href class="button button-raised button-pill button-inverse" style="margin: 5px">Say Hi!</a>
                </p>
            </div>
            <hr class="space-6" style="clear: both" />
            <div class="col-sm-6">
                <h3 class="header smaller lighter blue">
                    Glowing Buttons
                </h3>
                <p>
                    <a href class="button button-glow button-rounded button-raised button-primary" style="margin: 5px">Go</a>
                    <a href class="button button-glow button-border button-rounded button-primary" style="margin: 5px">Go</a>
                    <button class="button button-glow button-circle button-action button-jumbo" style="margin: 5px"><i class="fa fa-thumbs-up"></i></button>
                    <a href class="button button-glow button-rounded button-highlight" style="margin: 5px">Go</a>
                    <a href class="button button-glow button-rounded button-caution" style="margin: 5px">Go</a>
                    <a href class="button button-glow button-rounded button-royal" style="margin: 5px">Go</a>
                </p>
            </div>
            <div class="col-sm-6">
                <h3 class="header smaller lighter blue">
                    Dropdown Buttons
                </h3>
                <p>
                    <div class="button-dropdown" style="margin: 5px" dropdown>
                        <button dropdown-toggle class="button button-rounded">
                            Select Me <i class="fa fa-caret-down"></i>
                        </button>

                        <ul class="button-dropdown-list dropdown-menu">
                            <li><a href>Option Link 1</a></li>
                            <li><a href>Option Link 2</a></li>
                            <li class="button-dropdown-divider">
                                <a href>Option Link 3</a>
                            </li>
                        </ul>
                    </div>

                      <span class="button-dropdown button-dropdown-primary" style="margin: 5px" dropdown>
                        <button dropdown-toggle class="button button-primary button-large">
                            <i class="fa fa-bars"></i> Select Me
                        </button>

                        <ul class="button-dropdown-list dropdown-menu is-below">
                            <li><a href><i class="fa fa-heart-o"></i> Option Link 1</a></li>
                            <li><a href>Option Link 2</a></li>
                            <li class="button-dropdown-divider">
                                <a href>Option Link 3</a>
                            </li>
                        </ul>
                      </span>


                      <span class="button-dropdown button-dropdown-action dropup" style="margin: 5px" dropdown>
                        <button dropdown-toggle class="button button-action">
                            Select Me <i class="fa fa-caret-up"></i>
                        </button>

                        <ul class="button-dropdown-list dropdown-menu is-above">
                            <li><a href>Option Link 1</a></li>
                            <li><a href>Option Link 2</a></li>
                            <li class="button-dropdown-divider">
                                <a href>Option Link 3</a>
                            </li>
                        </ul>
                      </span>

                      <span class="button-dropdown button-dropdown-plain" style="margin: 5px" dropdown>
                        <button dropdown-toggle class="button button-caution button-pill">
                            Select Me <i class="fa fa-caret-down"></i>
                        </button>

                        <ul class="button-dropdown-list dropdown-menu">
                            <li><a href>Option Link 1</a></li>
                            <li class="button-dropdown-divider">
                                <a href>Option Link 2</a>
                            </li>
                            <li>
                                <a href>Option Link 3</a>
                            </li>
                        </ul>
                      </span>

                      <div class="button-dropdown button-dropdown-inverse" style="margin: 5px" dropdown>
                        <a href class="button button-inverse" dropdown-toggle>
                            <i class="fa fa-envelope"></i> Select Me <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="button-dropdown-list dropdown-menu is-below">
                            <li><a href>Option Link 1</a></li>
                            <li class="button-dropdown-divider">
                                <a href>Option Link 2</a>
                            </li>
                            <li>
                                <a href>Option Link 3</a>
                            </li>
                        </ul>
                    </div>
                </p>
            </div>
            <hr class="space-6" style="clear: both" />
            <div class="col-sm-6">
                <h3 class="header smaller lighter blue">
                    Button Groups
                </h3>
                <div class="button-group">
                    <button type="button" class="button button-primary">Option 1</button>
                    <button type="button" class="button button-primary">Option 2</button>
                    <button type="button" class="button button-primary">Option 3</button>

                    <!-- DROPDOWN MENU -->
                    <span class="button-dropdown button-dropdown-primary" dropdown>
                      <a href class="button button-primary" dropdown-toggle> Select Me <i class="fa fa-caret-down"></i></a>

                      <ul class="button-dropdown-list dropdown-menu is-below">
                          <li><a href>Option Link 1</a></li>
                          <li><a href>Option Link 2</a></li>
                          <li class="button-dropdown-divider"><a href>Option Link 3</a></li>
                      </ul>
                    </span>
                </div>

                <div class="button-group">
                    <button type="button" class="button button-pill button-action">Option 1</button>
                    <button type="button" class="button button-pill button-action">Option 2</button>
                    <button type="button" class="button button-pill button-action">Option 3</button>
                </div>

                <div class="button-group">
                    <button type="button" class="button button-royal button-rounded button-raised">Option 1</button>
                    <button type="button" class="button button-royal button-rounded button-raised">Option 2</button>
                    <button type="button" class="button button-royal button-rounded button-raised">Option 3</button>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="header smaller lighter blue">
                    Block Buttons
                </h3>
                <a href class="button button-block button-rounded button-large" style="margin: 5px 0">Go</a>
                <a href class="button button-block button-rounded button-primary button-large" style="margin: 5px 0">Go</a>
                <a href class="button button-block button-rounded button-action button-large" style="margin: 5px 0">Go</a>
                <a href class="button button-block button-rounded button-highlight button-large" style="margin: 5px 0">Go</a>
                <a href class="button button-block button-rounded button-caution button-large" style="margin: 5px 0">Go</a>
                <a href class="button button-block button-rounded button-royal button-large" style="margin: 5px 0">Go</a>
            </div>
            <hr class="space-6" style="clear: both" />
            <div class="col-sm-6">
                <h3 class="header smaller lighter blue">
                    Wrapped Button
                </h3>
                <span class="button-wrap">
                    <button class="button button-circle">
                        <i class="fa fa-cloud"></i>
                    </button>
                </span>

                <span class="button-wrap">
                    <button class="button button-circle button-raised button-primary">
                        <i class="fa fa-cloud"></i>
                    </button>
                </span>

                <span class="button-wrap">
                    <a href class="button button-pill ">Go</a>
                </span>
                <span class="button-wrap">
                    <a href class="button button-pill button-raised button-primary">Go</a>
                </span>
            </div>
            <div class="col-sm-6">
                <h3 class="header smaller lighter blue">
                    Form Buttons
                </h3>
                <input type="submit" value="Go" class="button button-pill button-primary">
                <button class="button button-pill button-primary">Go</button>

                <!-- DISABLED BUTTONS -->
                <input disabled="" type="submit" value="Go" class="button button-pill button-primary">
                <button disabled="" class="button  button-pill button-primary">Go</button>
                <button disabled="" class="button button-pill button-flat-primary">Go</button>
                <a href class="button disabled button-pill button-primary ">Go</a>
            </div>
            <hr class="space-6" style="clear: both" />
            <div class="col-xs-12" style="text-align: center">
                <h3 class="header smaller lighter blue">
                    Variaty font styles Buttons
                </h3>
                <a href class="button button-uppercase button-primary">uppercase</a>
                <a href class="button button-lowercase button-primary ">lowercase</a>
                <a href class="button button-capitalize button-primary">capitalize</a>
                <a href class="button button-small-caps button-primary">small caps</a>
            </div>
        </div>
    </div>
</div>
