@import "variables";
.dark { color: $ebp-dark !important; }
.white { color: $ebp-white !important; }
.red { color: $ebp-red !important; }
.red2 { color: $ebp-red2 !important; }
.light-red { color: $ebp-light-red !important; }
.blue { color: $ebp-blue !important; }
.light-blue { color: $ebp-light-blue !important; }
.green { color: $ebp-green !important; }
.light-green { color: $ebp-light-green !important;}
.orange { color: $ebp-orange !important; }
.orange2 { color: $ebp-orange2 !important; }
.light-orange {color: $ebp-light-orange !important;}
.purple { color: $ebp-purple !important; }
.pink { color: $ebp-pink !important; }
.pink2 { color: $ebp-pink2  !important; }
.brown { color: $ebp-brown !important; }
.grey { color: $ebp-grey !important; }
.light-grey { color: $ebp-light-grey !important; }
