@charset "UTF-8";

//~General Options
$enable-selected-skin:					no-skin;//Select a default skin.<br /> For more info about using skins please refer to documentation {"no-skin": "Default Skin", "skin-1": "Skin 1", "skin-2": "Skin 2", "skin-3": "Skin 3"}
$enable-skin-file:						false;//Compile &amp; enable skins style file.<br /> You don't need this if you only want to use one skin (selected above)
$enable-rtl-file:						false;//Compile &amp; enable RTL style file.<br /> You don't need this if you don't provide support for Arabic, Hebrew, Persian!
$enable-mobile-width:					991;//Point at which navbar and sidebar become collapsed.<br /><i>Bootstrap's default is <u>767</u> but <u>991</u> is recommended because of many small devices with qHD(960x540) resolution and below. Also most desktop devices are above <u>1024px</u> wide.</i> {"767": 767, "991": 991}
$enable-gutter-width:					24px;//Padding between columns. Gets divided in half for the left and right.<br /><i>Bootstrap's default is 30px which has been changed to 24px in Ace!</i>
$enable-no-responsive:					false;//Disable responsive (small screen) styles by stripping some media queries. <br /> You may also specify <span class="text-danger">min-width: some_value !important</span> for <b>.navbar</b> and <b>.main-container</b> to get better results.
$enable-container:						true;//Enable Container (like "inside <b>.container</b>" settings options)

//~Sidebar Options
$enable-submenu-hover: 					true;//Submenu Items That Are Shown On Mouse Hover
$enable-horizontal-menu: 				true;//Horizontal Menu 								+$enable-submenu-hover
$enable-compact-menu:					true;//Compact Side Menu							+$enable-submenu-hover
$enable-responsive-menu:				true;//Default Responsive Menu Style
$enable-old-menu-toggle-button:			true;//Old black menu toggle button
$enable-minimized-responsive-menu:		true;//Responsive Menu Style 3
$enable-collapsible-responsive-menu:	true;//Responsive Menu Style 2
$enable-sidebar-collapse:				true;//Collapse/Expand Sidebar
$enable-top-menu:						true;//Menu and Form inside navbar
$enable-highlight-active:				true;//Alternative Active Menu Item Highlight

//~Breadcrumbs Options
$enable-breadcrumbs:					true;//Breadcrumbs
$enable-fixed-breadcrumbs:				true;//Fixed Breadcrumbs							+$enable-breadcrumbs
$enable-search-box:						true;//Search Box Inside Breadcrumbs				+@enable-breadcrumbs

//~Form Elements
$enable-checkbox:						true;//Custom CSSx Checkbox and Radio Elements
$enable-checkbox-asp:					false;//ASP Friendly checkboxes					        +$enable-checkbox
$enable-switch:							true;//Custom Switch (On/Off) Elements				+$enable-checkbox
$enable-switch-style-4:					true;//Switch Elements Style #4 #5 					+$enable-switch
$enable-switch-style-6:					true;//Switch Elements Style #6 					+$enable-switch
$enable-switch-style-7:					true;//Switch Elements Style #7 					+@enable-switch

//~Pages
$enable-items:							true;//Dashboard's Item List (Conversation/Member/Task List)
$enable-pricing:						true;//Pricing Boxes
$enable-invoice:						true;//Invoice Page
$enable-image-gallery:					true;//Image Gallery

$enable-profile:						true;//Profile Page
$enable-inbox:							true;//Inbox Page
$enable-inbox-tabless:					true;//Tabless Inbox
$enable-timeline:						true;//Timeline
$enable-timeline-style-2:				true;//Timeline 2nd Style
$enable-login-page:						true;//Login page

//~Navbar Options
$enable-navbar-dropdowns:				true;//Navbar User Info Dropdown Menu Options, etc ...
$enable-navbar-tabbed-dropdowns:		true;//Tabbed Navbar User Info Dropdown Menus 		+$enable-navbar-dropdowns

//~Menus & Dropdowns
$enable-dropdown-colors:				true;//Dropdown Menu Different Colors
$enable-simple-color-picker:			true;//Simple Color Picker Dropdown Element

//~Widgets
$enable-widgets:						true;//Widget Boxes
$enable-widget-colors:					true;//Widget Boxes Different Colors 				+@enable-widgets

//~Pages
$enable-items:							true;//Dashboard's Item List (Conversation/Member/Task List)
$enable-pricing:						true;//Pricing Boxes
$enable-invoice:						true;//Invoice Page
$enable-image-gallery:					true;//Image Gallery

$enable-profile:						true;//Profile Page
$enable-inbox:							true;//Inbox Page
$enable-inbox-tabless:					true;//Tabless Inbox
$enable-timeline:						true;//Timeline
$enable-timeline-style-2:				true;//Timeline 2nd Style
$enable-login-page:						true;//Login page
