@charset "UTF-8";
@import "../custom_mixins";
.grid2, .grid3, .grid4 {
    @include custom-box-sizing();
    display: block;
    margin: 0 1%;
    padding: 0 2%;
    float: left;

    border-left: 1px solid #E3E3E3;
    &:first-child {
        border-left: none;
    }
}

.grid2 {
    width: 48%;
}
.grid3 {
    width: 31.33%;
}
.grid4 {
    width: 23%;
    padding: 0 1%;
}


.butterfly {
    position: relative;
    width: 40%;
    pointer-events: none;
    @include transform(rotate(-20deg))
}
.butterfly > div {
    position: absolute;
}
.butterfly img {
    width: 100%;
}
.leftwing {
    @include animation(flap-l 4s cubic-bezier(0.08, 1.47, 0.65, -0.68) infinite)
}
.rightwing {
    @include animation(flap-r 4s cubic-bezier(0.08, 1.47, 0.65, -0.68) infinite)
}
.leftwing,
.rightwing {
    z-index: 1;
}
@keyframes flap-l {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(80deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@-webkit-keyframes flap-l {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(80deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@keyframes flap-r {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-80deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@-webkit-keyframes flap-r {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-80deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
