<style shim-shadowdom>
    .layout-content-main,.layout-content-sidebar {
        height: 100%;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .layout-content-sidebar {
        width: 239px;
        border-left: solid 1px #e5e5e5;
        position: absolute;
        right: 0;
        top: 0;
    }
    .layout-content-main {
        background-color: yellow;
    }
    .layout-content-sidebar + .layout-content-main {
        margin-right: 240px;
    }
    .layout-content-sidebar.compact {
        width: 86px;
        overflow: hidden;
    }
    .layout-content-sidebar.compact + .layout-content-main {
        margin-right: 87px;
    }
    .layout-content-sidebar.collapsed {
        width: 0;
        border-left-width: 0;
        overflow: hidden;
    }
    .layout-content-sidebar.collapsed + .layout-content-main {
        margin-right: 0;
    }
    .slide-panel {
        position: absolute;
        right: 0;
        top: 0;
        width: 700px;
        height: 100%;
        overflow: hidden;
        z-index: 100;
        background-color: #FFF;
        border-left: solid 1px #e1e1e1;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
    }
</style>
<div class="abs-content" ng-init="slidePanelToggle = true">
    <div class="layout-content-sidebar" ng-class="{'compact': compact,'collapsed': collapsed}">
    </div>
    <div class="layout-content-main">
        <button class="btn btn-primary" ng-click="collapsed = !collapsed">toggle sidebar</button>
        <button class="btn btn-primary" ng-click="compact = !compact">compact sidebar</button>
        <button class="btn btn-primary" ng-click="slidePanelToggle = !slidePanelToggle">toggle slide panel</button>
    </div>
    <div ebp-slide-panel template-url="src/UIAndElements/views/icons.tpl.html" ng-show="slidePanelToggle"></div>
</div>
