<div class="abs-content">
    <div class="layout-content-sidebar" ng-class="{'compact': compact,'collapsed': collapsed}">
    </div>
    <div class="layout-content-main">
        <div class="breadcrumbs">
            asdasdasd
        </div>
        <div class="layout-content-main-body">
            <button class="btn btn-primary" ng-click="collapsed = !collapsed">toggle sidebar</button>
            <button class="btn btn-primary" ng-click="compact = !compact">compact sidebar</button>
            <button class="btn btn-primary" ng-click="openTaskDetail()">open slide panel</button>
            <button class="btn btn-primary" ng-click="openProjectDetail()">open slide panel</button>
            <button class="btn btn-primary" ng-click="closePanel()">close slide panel</button>
            <button class="btn btn-primary" ng-click="addTask()">add task</button>
            {{tasks}}
            <input type="text" ui-jq="datetimepicker" readonly ui-options="{format: 'yyyy-mm-dd hh:ii',todayBtn: true,autoclose: true,language: 'zh-CN',showMeridian: true}" ng-model="time" />
            {{time}}
        </div>
    </div>
    <div ebp-slide-panel template-url="" ng-show="slidePanelToggle"></div>
</div>
